

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #03AED2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #fff;
    max-width: 200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #03AED2;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 6px;
}



p {
    font-size: 16px;
    margin: 10px;
    padding: 3px;

}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #03AED2;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #066d81;
}
